@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-dark text-text-offwhite font-sans antialiased;
    background-image: theme('backgroundImage.subtle-grid');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-bold;
  }
}
